.subVisual__wrapper
  .subVisual__wrapper__about
    %h2 会員数日本一位
    %p FURIMAは、フリマアプリで最も人気。<br>出品・購入回数も業界最多です！<br>ほしかったあの商品に出会えるかもしれません。

  .subVisual__wrapper__dlBannar
    .subVisual__wrapper__dlBannar--apple
      = link_to '#', class: 'bannar--apple' do
        = image_tag 'app-store-bannar.svg', width: '180', alt: 'AppStoreBannar'
    .subVisual__wrapper__dlBannar--goolge
      = link_to '#', class: 'bannar--google' do
        = image_tag 'google-play-bannar.svg', width: '180', alt: 'GooglePlayBannar'
