.topVisual__wrapper
  .topVisual__wrapper__about
    %h1 人生を変えるフリマアプリ
    %p FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです

  .topVisual__wrapper__dlBannar
    .topVisual__wrapper__dlBannar--apple
      %a{ href: "https://apps.apple.com/us/app/apple-store/id375380948?mt=8", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2010-06-15&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"}
    .topVisual__wrapper__dlBannar--goolge
      %a{ href: 'https://play.google.com/store/apps/details?id=com.google.android.play.games&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'}
        %img{ alt: 'Get it on Google Play', src: 'https://play.google.com/intl/us-en/badges/static/images/badges/en_badge_web_generic.png', width: '155px'}




