.topFeature__title
  %h2 FURIMAの特徴

%ul.topFeature__contents
  %li.topFeature__contents__list
    = image_tag 'icon-01.png', class: 'topFeature__contents__list--image', alt: '理由１'
    %h3.topFeature__contents__list--title 簡単に売り買いできる
    %p.topFeature__contents__list--text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
  %li.topFeature__contents__list
    = image_tag 'icon-03.png', class: 'topFeature__contents__list--image', alt: '理由２'
    %h3.topFeature__contents__list--title 売上金は即日振込みに対応
    %p.topFeature__contents__list--text 午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
  %li.topFeature__contents__list
    = image_tag 'icon-04.png', class: 'topFeature__contents__list--image', alt: '理由３'
    %h3.topFeature__contents__list--title 様々な支払いに対応
    %p.topFeature__contents__list--text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
