.topFeature__title
  %h2 FURIMAの特徴
.topFeature__contents
  %ul
    %li{class: 'topFeature__contents__list'}
      = image_tag 'icon-01.png', class: 'topFeature__contents__list--image', alt: '理由１'
    %li{class: 'topFeature__contents__list'}
      %h3{class: 'topFeature__contents__list--title'} 簡単に売り買いできる
    %li{class: 'topFeature__contents__list'}
      %p{class: 'topFeature__contents__list--text'} スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
  %ul
    %li{class: 'topFeature__contents__list'}
      = image_tag 'icon-03.png', class: 'topFeature__contents__list--image', alt: '理由２'
    %li{class: 'topFeature__contents__list'}
      %h3{class: 'topFeature__contents__list--title'} 売上金は即日振込みに対応
    %li{class: 'topFeature__contents__list'}
      %p{class: 'topFeature__contents__list--text'} 午前９時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします！
  %ul
    %li{class: 'topFeature__contents__list'}
      = image_tag 'icon-04.png', class: 'topFeature__contents__list--image', alt: '理由３'
    %li{class: 'topFeature__contents__list'}
      %h3{class: 'topFeature__contents__list--title'} 様々な支払いに対応
    %li{class: 'topFeature__contents__list'}
      %p{class: 'topFeature__contents__list--text'} お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。