.topVisual__wrapper
  .topVisual__wrapper__about
    %h1 人生を変えるフリマアプリ
    %p FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです

  .topVisual__wrapper__dlBannar
    .topVisual__wrapper__dlBannar--apple
      = link_to '#' do
        = image_tag 'app-store-bannar.svg', width: '180', alt: 'AppStoreBannar'
    .topVisual__wrapper__dlBannar--goolge
      = link_to '#' do
        = image_tag 'google-play-bannar.svg', width: '180', alt: 'GooglePlayBannar'
