.topReason__title
  %h2 FURIMAが選ばれる３つの理由
  
.topReason__contents
  %ul
    %li
      = image_tag 'pict-reason-01.jpg', class: 'topReason__contents__list', alt: '理由１'
      %span 1
    %li{class: 'topReason__contents__list'}
      %h3 <strong>3分</strong>ですぐに出品
    %li{class: 'topReason__contents__list'}
      %p スマホで入力するだけで簡単に出品できる！
  %ul
    %li
      = image_tag 'pict-reason-02.jpg', class: 'topReason__contents__list', alt: '理由２'
      %span 2
    %li{class: 'topReason__contents__list'}
      %h3 <strong>シンプル</strong>で使いやすい
    %li{class: 'topReason__contents__list'}
      %p めんどくさい入力は必要なく、検索も購入もスムーズ！
  %ul
    %li
      = image_tag 'pict-reason-03.jpg', class: 'topReason__contents__list', alt: '理由３'
      %span 3
    %li{class: 'topReason__contents__list'}
      %h3 手数料<strong>業界最安</strong>
    %li{class: 'topReason__contents__list'}
      %p 最大3％でお得に出品＆購入！