.topReason__title
  %h2 FURIMAが選ばれる３つの理由
  
%ul.topReason__lists
  %li.list
    .list__box
      = image_tag 'pict-reason-01.jpg', alt: '理由１'
      %span 1
    %h3.list__text <strong>3分</strong>ですぐに出品
    %p.list__text スマホで入力するだけで簡単に出品できる！
  %li.list
    .list__box
      = image_tag 'pict-reason-02.jpg', alt: '理由２'
      %span 2
    %h3.list__text <strong>シンプル</strong>で使いやすい
    %p.list__text めんどくさい入力は必要なく、検索も購入もスムーズ！
  %li.list
    .list__box
      = image_tag 'pict-reason-03.jpg', alt: '理由３'
      %span 3
    %h3.list__text 手数料<strong>業界最安</strong>
    %p.list__text 最大3％でお得に出品＆購入！