.wrapper
  .wrapper__about
    %p だれでもかんたん、人生を変えるフリマアプリ
    %h2 今すぐ無料ダウンロード！

  .wrapper__dlBannar
    .wrapper__dlBannar--apple
      = link_to '#' do
        = image_tag 'app-store-bannar.svg', width: '180', alt: 'AppStoreBannar'
    .wrapper__dlBannar--goolge
      = link_to '#' do
        = image_tag 'google-play-bannar.svg', width: '180', alt: 'GooglePlayBannar'
